<?xml version='1.0' encoding='windows-1252'?>

<?ifndef AppVersion ?>
    <?error AppVersion must be set ?>
<?endif?>

<?ifndef AppPackageDir ?>
    <?error AppPackageDir must be set ?>
<?endif?>

<?define AppName="Zeal" ?>
<?define AppManufacturer="Oleg Shparber" ?>
<?define AppExeName="zeal.exe" ?>

<?if $(sys.BUILDARCH)="x86"?>
    <?define PlatformProgramFilesFolder="ProgramFilesFolder" ?>
<?elseif $(sys.BUILDARCH)="x64"?>
    <?define PlatformProgramFilesFolder="ProgramFiles64Folder" ?>
<?else ?>
    <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH) ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='*' Name='$(var.AppName) $(var.AppVersion)' Version='$(var.AppVersion)'
      Manufacturer='$(var.AppManufacturer)'
      UpgradeCode='5c4b6030-a1b4-4efe-a5af-28f6fa2e7978'
      Language='1033' Codepage='1252'>

        <Package Id='*' Description='$(var.AppName) $(var.AppVersion) Installer'
          Languages='1033' Compressed='yes' SummaryCodepage='1252' />

        <MajorUpgrade
          DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

        <Icon Id="$(var.AppExeName)" SourceFile="$(var.AppPackageDir)\$(var.AppExeName)" />
        <Property Id="ARPPRODUCTICON" Value="$(var.AppExeName)" />
        <Property Id="ARPHELPLINK" Value="https://zealdocs.org" />

        <!-- Features -->
        <Feature Id='App' Title='Zeal' Level='1' Absent="disallow">
            <ComponentGroupRef Id='Binaries' />
            <ComponentGroupRef Id='Binaries_Imageformats' />
            <ComponentGroupRef Id='Binaries_Platforms' />
            <ComponentRef Id='ProgramMenuDir' />
        </Feature>

        <Feature Id='Protocol' Title='Plugin Support' Level='1'
          Description='Provides dash:// and dash-plugin:// protocol handlers.'>
            <ComponentGroupRef Id='ProtocolHandlers' />
        </Feature>

        <!-- Directory Structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="APPLICATIONFOLDER" Name="$(var.AppName)">
                    <Directory Id='APPLICATIONFOLDER_IMAGEFORMATS' Name='imageformats' />
                    <Directory Id='APPLICATIONFOLDER_PLATFORMS' Name='platforms' />
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="$(var.AppName)" />
            </Directory>

            <Directory Id="DesktopFolder" />
        </Directory>

        <!-- Components -->
        <ComponentGroup Id="Binaries" Directory="APPLICATIONFOLDER" Source='$(var.AppPackageDir)'>
            <Component><File Name='archive.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='sqlite3.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='zlib.dll' Checksum="yes" KeyPath="yes" /></Component>

            <!-- ICU -->
            <Component><File Name='icudt57.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='icuin57.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='icuuc57.dll' Checksum="yes" KeyPath="yes" /></Component>

            <!-- OpenSSL -->
            <Component><File Name='libeay32.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='ssleay32.dll' Checksum="yes" KeyPath="yes" /></Component>

            <!-- Qt -->
            <Component><File Name='Qt5Concurrent.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='Qt5Core.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='Qt5Gui.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='Qt5Network.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='Qt5Svg.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='Qt5WebKit.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='Qt5WebKitWidgets.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='Qt5Widgets.dll' Checksum="yes" KeyPath="yes" /></Component>

            <Component>
                <File Name='$(var.AppExeName)' Checksum="yes" KeyPath='yes'>
                    <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuDir" Name="$(var.AppName)"
                        WorkingDirectory='APPLICATIONFOLDER' Icon="$(var.AppExeName)" IconIndex="0" Advertise="yes" />
                    <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="$(var.AppName)"
                        WorkingDirectory='APPLICATIONFOLDER' Icon="$(var.AppExeName)" IconIndex="0" Advertise="yes" />
                </File>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Binaries_Imageformats" Directory="APPLICATIONFOLDER_IMAGEFORMATS" Source='$(var.AppPackageDir)\imageformats'>
            <Component><File Name='qgif.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='qico.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='qjpeg.dll' Checksum="yes" KeyPath="yes" /></Component>
            <Component><File Name='qtiff.dll' Checksum="yes" KeyPath="yes" /></Component>
        </ComponentGroup>

        <ComponentGroup Id="Binaries_Platforms" Directory="APPLICATIONFOLDER_IMAGEFORMATS" Source='$(var.AppPackageDir)\platforms'>
            <Component><File Name='qwindows.dll' Checksum="yes" KeyPath="yes" /></Component>
        </ComponentGroup>

        <Component Id="ProgramMenuDir" Guid="6d2053d4-6231-4fba-a038-a32b19cec1b7" Directory="ProgramMenuDir">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\Zeal\Zeal' Type='string' Value='' KeyPath='yes' />
        </Component>

        <ComponentGroup Id="ProtocolHandlers" Directory="TARGETDIR">
            <Component Id="ProtocolHKLM" Guid="4c104822-68d5-44b4-9a00-e5227a31c3f1">
                <Condition>ALLUSERS</Condition>

                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash" Type='string' Value='Zeal Search (Dash Protocol)' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash" Name="URL Protocol" Type='string' Value='' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash\shell\open\command" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe" "%1"' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash\DefaultIcon" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe,1"' />

                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash-plugin" Type='string' Value='Zeal Search (Dash Protocol)' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash-plugin" Name="URL Protocol" Type='string' Value='' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash-plugin\shell\open\command" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe" "%1"' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash-plugin\DefaultIcon" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe,1"' />
            </Component>

            <Component>
                <Condition>NOT ALLUSERS</Condition>

                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash" Type='string' Value='Zeal Search (Dash Protocol)' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash" Name="URL Protocol" Type='string' Value='' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash\shell\open\command" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe" "%1"' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash\DefaultIcon" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe,1"' />

                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash-plugin" Type='string' Value='Zeal Search (Dash Protocol)' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash-plugin" Name="URL Protocol" Type='string' Value='' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash-plugin\shell\open\command" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe" "%1"' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash-plugin\DefaultIcon" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe,1"' />
            </Component>
        </ComponentGroup>

        <UIRef Id='WixUI_Advanced' />

        <Property Id='ApplicationFolderName' Value='$(var.AppName)' />
        <Property Id='WixAppFolder' Value='WixPerMachineFolder' />
        <Property Id='ALLUSERS' Value='1' />
        <WixVariable Id="WixUILicenseRtf" Value="COPYING.rtf" />

        <!-- Fix for https://github.com/wixtoolset/issues/issues/2165 -->
        <CustomAction Id="Overwrite_WixSetDefaultPerMachineFolder" Property="WixPerMachineFolder"
          Value="[$(var.PlatformProgramFilesFolder)][ApplicationFolderName]" Execute="immediate" />
        <InstallUISequence>
            <Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
        </InstallUISequence>
        <InstallExecuteSequence>
            <Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
        </InstallExecuteSequence>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />
    </Product>
</Wix>
