<?xml version='1.0' encoding='windows-1252'?>

<?ifndef ZealVersion ?>
    <?error ZealVersion must be set ?>
<?endif?>

<?ifndef ZealPackageDir ?>
    <?error ZealPackageDir must be set ?>
<?endif?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='Zeal' Id='*'
      UpgradeCode='5c4b6030-a1b4-4efe-a5af-28f6fa2e7978'
      Language='1033' Codepage='1252' Version='$(var.ZealVersion)' Manufacturer='Zeal Developers'>

        <Package Id='*' Keywords='Installer' Description='Zeal Installer'
          Manufacturer='Zeal Developers'
          InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

        <MajorUpgrade
          DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <MediaTemplate CompressionLevel="high" EmbedCab="yes" />

        <Feature Id='App' Title='Zeal' Level='1' Absent="disallow">
            <ComponentGroupRef Id='Binaries' />
            <ComponentGroupRef Id='Binaries_Imageformats' />
            <ComponentGroupRef Id='Binaries_Platforms' />
            <ComponentRef Id='ProgramMenuDir' />
        </Feature>

        <Feature Id='Protocol' Title='Plugin Support' Level='1'
          Description='Provides dash:// and dash-plugin:// protocol handlers'>
            <ComponentGroupRef Id='ProtocolHandlers' />
        </Feature>

        <Icon Id="zeal.exe" SourceFile="$(var.ZealPackageDir)\zeal.exe" />
        <Property Id="ARPPRODUCTICON" Value="zeal.exe" />
        <Property Id="ARPHELPLINK" Value="https://zealdocs.org" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="APPLICATIONFOLDER" Name="Zeal">
                    <Directory Id='APPLICATIONFOLDER_IMAGEFORMATS' Name='imageformats' />
                    <Directory Id='APPLICATIONFOLDER_PLATFORMS' Name='platforms' />
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="Zeal" />
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <ComponentGroup Id="Binaries" Directory="APPLICATIONFOLDER" Source='$(var.ZealPackageDir)'>
            <Component Id='DLLs' Guid='ea0cd148-c03e-4690-8294-7320a5279d82'>
                <File Name='archive.dll' />
                <File Name='sqlite3.dll' />
                <File Name='zlib.dll' />
                <!-- ICU -->
                <File Name='icudt57.dll' />
                <File Name='icuin57.dll' />
                <File Name='icuuc57.dll' />
                <!-- OpenSSL -->
                <File Name='libeay32.dll' />
                <File Name='ssleay32.dll' />
                <!-- Qt -->
                <File Name='Qt5Concurrent.dll' />
                <File Name='Qt5Core.dll' />
                <File Name='Qt5Gui.dll' />
                <File Name='Qt5Network.dll' />
                <File Name='Qt5Svg.dll' />
                <File Name='Qt5WebKit.dll' />
                <File Name='Qt5WebKitWidgets.dll' />
                <File Name='Qt5Widgets.dll' />
            </Component>

            <Component Id='MainExecutable' Guid='872a29c2-cfc9-4657-a41a-407dc63600df'>
                <File Name='zeal.exe' KeyPath='yes'>
                    <Shortcut Id="startmenuZeal" Directory="ProgramMenuDir" Name="Zeal"
                        WorkingDirectory='APPLICATIONFOLDER' Icon="zeal.exe" IconIndex="0" Advertise="yes" />
                    <Shortcut Id="desktopZeal" Directory="DesktopFolder" Name="Zeal"
                        WorkingDirectory='APPLICATIONFOLDER' Icon="zeal.exe" IconIndex="0" Advertise="yes" />
                </File>
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Binaries_Imageformats" Directory="APPLICATIONFOLDER_IMAGEFORMATS" Source='$(var.ZealPackageDir)\imageformats'>
            <Component Id='imageformats' Guid='9997edc7-0b97-4b29-9cc9-76a9c3875f9d'>
                <File Name='qgif.dll' />
                <File Name='qico.dll' />
                <File Name='qjpeg.dll' />
                <File Name='qtiff.dll' />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Binaries_Platforms" Directory="APPLICATIONFOLDER_IMAGEFORMATS" Source='$(var.ZealPackageDir)\platforms'>
            <Component Id='platforms' Guid='637c240b-a070-44c6-922d-3bca338ab00c'>
                <File Name='qwindows.dll' />
            </Component>
        </ComponentGroup>

        <Component Id="ProgramMenuDir" Guid="6d2053d4-6231-4fba-a038-a32b19cec1b7" Directory="ProgramMenuDir">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\Zeal\Zeal' Type='string' Value='' KeyPath='yes' />
        </Component>

        <ComponentGroup Id="ProtocolHandlers" Directory="TARGETDIR">
            <Component Id="ProtocolHKLM" Guid="4c104822-68d5-44b4-9a00-e5227a31c3f1">
                <Condition>ALLUSERS</Condition>

                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash" Type='string' Value='Zeal Search (Dash Protocol)' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash" Name="URL Protocol" Type='string' Value='' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash\shell\open\command" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe" "%1"' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash\DefaultIcon" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe,1"' />

                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash-plugin" Type='string' Value='Zeal Search (Dash Protocol)' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash-plugin" Name="URL Protocol" Type='string' Value='' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash-plugin\shell\open\command" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe" "%1"' />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\dash-plugin\DefaultIcon" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe,1"' />
            </Component>

            <Component Id="ProtocolHKCU" Guid="f0d12dff-386a-4e81-9003-e14ddba5a0a7">
                <Condition>NOT ALLUSERS</Condition>

                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash" Type='string' Value='Zeal Search (Dash Protocol)' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash" Name="URL Protocol" Type='string' Value='' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash\shell\open\command" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe" "%1"' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash\DefaultIcon" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe,1"' />

                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash-plugin" Type='string' Value='Zeal Search (Dash Protocol)' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash-plugin" Name="URL Protocol" Type='string' Value='' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash-plugin\shell\open\command" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe" "%1"' />
                <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\dash-plugin\DefaultIcon" Type='string' Value='"[APPLICATIONFOLDER]zeal.exe,1"' />
            </Component>
        </ComponentGroup>

        <UIRef Id='WixUI_Advanced' />
        <Property Id='ApplicationFolderName' Value='Zeal' />
        <Property Id='WixAppFolder' Value='WixPerMachineFolder' />
        <Property Id='ALLUSERS' Value='1' />
        <WixVariable Id="WixUILicenseRtf" Value="COPYING.rtf" />
    </Product>
</Wix>
